body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

// * {
//   border: 1px red solid;
// }

body {
  margin: 0;
  overflow: hidden;
  background-color: #fad5c0;
}

h1 {
  font-family: 'Yeseva One', cursive;
  color: #bc805b;
}

p {
  font-family: 'Fira Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  z-index: 10;
  height: 98vh;
  margin: 1vh;
  min-height: 100%;
  position: relative;
}

#home-container {
  z-index: 10;
  height: 98vh;
  margin: 0;
  min-height: 100%;
  position: relative;
  top: 0;
}

#content-container {
  z-index: 10;
  height: 98vh;
  width: 100vw;
  margin: 0;
  min-height: 100%;
  position: absolute;
  top: 1000;
  overflow-y: scroll;
}

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

#edit-button {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  color: white;
  background-color: black;
  border-radius: 3em;
  font-family: 'Alata', sans-serif;
  font-size: 0.7em;
  cursor: pointer;
}

#slide-button {
  position: fixed;
  right: 1vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  color: white;
  background-color: black;
  font-family: 'Alata', sans-serif;
  font-size: 0.7em;
  cursor: pointer;
}

#title {
  z-index: -100;
  cursor: default;
}

.resize-drag {
  z-index: -10;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  width: 25%;
  min-height: 6.5em;
  position: absolute;
  background-color: #deebe4;
  color: #bc805b;
  /* padding: 4%; */
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.2);
  border: 1px #bc805b dashed;
}

.resize-drag:hover {
  border: 1.5px #bc805b dashed;
}

.resize-drag-off {
  z-index: -10;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  width: 25%;
  min-height: 6.5em;
  position: absolute;
  background-color: #deebe4;
  color: #bc805b;
  /* padding: 4%; */
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.2);
  cursor: pointer;
  // -webkit-transition: all .2s ease-in-out;
}

.resize-drag-off:hover {
  // transform: scale(2, 2);
}

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    // display: block;
    // height: 0;
    // width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
    // margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

#title {
    @include lhCrop(12); //line-height: 1.2
    line-height: 72pt;
  font-family: 'Yeseva One', cursive;
  background-color: transparent;
  color: white;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
