@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

.projects-slideshow-items {
  height: 450px;
  width: 600px;
}

.projects-image {
  width: 100%;
  min-height: 100%;
}

.white-panel {
  background-color: #fff;
  width: 100%;
  height: auto;
}

.slidenav {
  color: #fff;
  background-color: rgba(250, 213, 192, 0.7);
  border-radius: 50%;
  font-weight: 100;
  text-decoration: none;
}

.project-button {
  margin: 0.4em 1em;
  background-color: #fad5c0;
  color: #bc805b;
  font-family: 'Fira Mono', monospace;
}

.project-button:hover {
  background-color: #fad5c0;
  color: #fff;

}
